APP_ENV=docker
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=appdb
DATABASE_URL=postgresql+psycopg://app:app@db:5432/appdb
OTHER_API_BASE=http://other-api:8000

# SMTP settings 
# google app passwords
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=YOUR_APP_PASSWORD_HERE
SMTP_FROM=Docu-Serve <your-email@gmail.com>
SMTP_USE_SSL=true
SMTP_STARTTLS=false
